$yellow: #F7D622;
$black: #1B2629;
$grey: #9e9e9e;

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: $black;
  background-color: $yellow;
}

a.nav-link,
a.nav-link:hover {
  color: $yellow;
}